@model IEnumerable<AppInfo>

@{
    ViewData["Title"] = "AppInfo Index";
}

@section css{
<link rel="stylesheet" href="~/libs/limonte-sweetalert2/sweetalert2.min.css" />
<style>
    table {
        width: max-content !important;
    }

    .btns-td {
        height: 170px !important;
        display: flex;
        align-items: center;
    }

        .btns-td a:nth-of-type(2) {
            margin: 0 1.5%;
        }
</style>
}

<div class="card">
    <div class="card-header row align-items-center justify-content-between">
        <div class="table-infos">
            <h5>Statik Məlumatlar</h5>
        </div>
        <div class="brand-plus-btn">
            <a asp-action="Create" class="btn btn-success">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            @if (Model.Count() == 0)
            {
                <div class="alert alert-warning" role="alert">
                    Hələ ki, məlumat yoxdur!
                </div>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id: </th>
                            <th>Xəritə (iframe): </th>
                            <th>Yuxarı Kontent: </th>
                            <th>Aşağı Kontent: </th>
                            <th>Ətraflı: </th>
                            <th>Facebook Linki: </th>
                            <th>Twitter Linki: </th>
                            <th>Linkedin Linki: </th>
                            <th>Telegram Linki: </th>
                            <th>Əlavə olunma tarixi: </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.Id</th>
                                <td title="@item.Map">@item.Map.EllipseText(25)</td>
                                <td>@Html.Raw(item.HeaderContent)</td>
                                <td>@Html.Raw(item.FooterContent)</td>
                                <td title="@item.Description">@item.Description.EllipseText(25)</td>
                                <td>@item.FacebookLink</td>
                                <td>@item.TwitterLink</td>
                                <td>@item.LinkedinLink</td>
                                <td>@item.TelegramLink</td>
                                <td>@item.CreatedDate.ToString("dd.MM.yyyy HH:mm:ss")</td>
                                <td style="float: right;" class="btns-td">
                                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id"><i class="fas fa-pencil-alt"></i></a>
                                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id"><i class="far fa-eye"></i></a>
                                    <a style="cursor: pointer; color: white;" class="btn btn-danger btn-del" data-del-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.AntiForgeryToken()
            }
        </div>
    </div>
</div>

@section js{
<script src="~/libs/limonte-sweetalert2/sweetalert2.min.js"></script>
<script>
    $(document).ready(function(){
       let btnDel = $('.btn-del');
        $(btnDel).on('click', (e)=>{
            let id = $(e.currentTarget).data('del-id');
                Swal.fire({
      title: 'Əminsinizmi?',
      text: "Bu əməliyyat geri qaytarılmayacaq!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Bəli, silinsin!'
    }).then((result) => {
      if (result.isConfirmed) {
          let token = $('input[name="__RequestVerificationToken"]').val();

          $.ajax({
              url:`@Url.Action("Delete")/${id}`,
              type:"POST",
              data: {
                __RequestVerificationToken: token
              },
              success: function(response){
                  if(!response.error){
                    setTimeout(()=>{
                      window.location.reload();
                    }, 1500);
                    return;
                }

                toastr.error(response.message, "Xəta!");
              },
              error: function(response){
                  console.log(response.message);
              }
          });
        Swal.fire(
          'Silindi!',
          'Sizin seçdiyiniz məlumat uğurla silindi.',
          'success'
        )
      }
    })
        });
    });
</script>
}