@model BlogViewModel

@{
    ViewData["Title"] = "Blog Details";
}

@section css{
<style>
    .blog-main-img-side {
        background-image: url(/uploads/blogs/@Model.BlogImages.FirstOrDefault(bi => bi.IsMain)?.ImagePath) !important;
    }

    .reply-btn {
        cursor: pointer;
    }

    .movie-details-replies {
        margin: 0.75% 0;
        padding-left: 8.5%;
    }

    #blog-description-comment-form .written-comment-row {
        margin: 0.75% 0;
    }

    #blog-description-comment-form .written-comment-profile-side > .img-div {
        width: 60%;
    }

        #blog-description-comment-form .written-comment-profile-side > .img-div > img {
            width: 100%;
            border-radius: 50%;
        }

    #blog-description-comment-form .written-comment-content-side {
        position: relative;
        background-color: #343946;
        border-radius: 4px;
        padding: 1.5% 1%;
    }

        #blog-description-comment-form .written-comment-content-side::after {
            content: "";
            position: absolute;
            right: 100%;
            top: 10px;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-right: 5px solid #343946;
            border-bottom: 5px solid transparent;
        }

    #blog-description-comment-form .written-comment-content-heading,
    #blog-description-comment-form .written-comment-content-content {
        font-family: "Baloo";
    }

    #blog-description-comment-form .written-comment-content-heading {
        color: #777777;
    }

    .written-comment-content-content {
        color: white;
    }

    #blog-description-comment-form .written-comment-bottom-box {
        display: flex;
        justify-content: space-between;
        margin-top: 1%;
    }

        #blog-description-comment-form .written-comment-bottom-box .comment-date {
            color: #777777;
            font-size: 0.9rem;
        }
</style>
}

<!-- blog description starter start -->
<section id="blog-description-starter">
    <div class="container blog-description-starter-container">
        <div class="row blog-description-starter-row">
            <h1 class="blog-description-starter-heading">Blog Description Side</h1>
        </div>
    </div>
</section>
<!-- blog description starter end -->
<!-- blog description start -->
<section id="blog-description">
    <div class="container blog-description-container">
        <div class="row blog-description-row">
            <div class="col-10 col-xl-8 col-lg-8 col-md-10 col-sm-10 blog-description-col">
                <h2 class="blog-description-heading">@Model.Title</h2>
                <div class="blog-main-img-side"></div>
                <p class="blog-description-content">
                    @Model.Description
                </p>

                <h5 class="blog-description-second-heading">Other Images</h5>
                <div class="swiper blog-description-swiper">
                    <div class="swiper-wrapper blog-description-swiper-wrapper">
                        @foreach (var item in Model.BlogImages.Where(bi => !bi.IsMain))
                        {
                            <div class="swiper-slide">
                                <img src="~/uploads/blogs/@item.ImagePath" alt="Blog Description Other Images">
                            </div>
                        }
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog description end -->
<!-- movie description comment start -->
<section id="blog-description-comment">
    <div class="container blog-description-comment-container">
        <div class="row blog-description-comment-row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 blog-description-comment-col">
                <h2 class="comment-heading">@Model.BlogComments.Count Comments</h2>
                <p class="comment-helper-text">Write comments</p>
                <form method="post" asp-action="BlogComment" id="blog-description-comment-form">
                    <input type="hidden" name="ParentId" id="parent-id-input" />
                    <input type="hidden" asp-for="@Model.Id" name="BlogId" id="blog-id-input" />
                    <div class="form-group mb-3">
                        <textarea cols="30" rows="4" class="blog-description-textarea form-control" name="Content"
                                  placeholder="Comment"></textarea>
                    </div>
                    <div class="comment-btn-side">
                        <button type="submit">Submit Comment</button>
                    </div>
                </form>
            </div>
            <div class="col-xl-12 col-lg-122 col-md-12 col-sm-12 written-comments-col">
                <div class="written-comment">
                    @foreach (BlogComment comment in Model.BlogComments.Where(bc => bc.ParentId == null))
                    {
                        <div identifier="@comment.Id" class="row written-comment-row">
                            <div class="col-2 col-xl-1 col-lg-1 col-md-1 col-sm-2 written-comment-profile-side">
                                <div class="img-div">
                                    <img src="~/uploads/personalside/@comment.CreatedByUser.ImagePath" alt="Profile Photo" />
                                </div>
                            </div>
                            <div class="col-10 col-xl-11 col-lg-11 col-md-11 col-sm-10  written-comment-content-side">
                                <h5 class="written-comment-content-heading">@comment.CreatedByUser.Name @comment.CreatedByUser.Surname</h5>
                                <p class="written-comment-content-content">
                                    @comment.Content
                                </p>
                                <div class="written-comment-bottom-box">
                                    <a onclick="setReply(event)" data-comment-id="@comment.Id" class="reply-btn">Reply</a>
                                    <p class="comment-date">@comment.CreatedDate.ToString("MMMM dd, yyyy")</p>
                                </div>
                            </div>
                            <div class="movie-details-replies">
                                @foreach (BlogComment child in comment.FillCommentChildren())
                                {
                                    <div identifier="@child.Id" class="written-comment written-comment-row reply">
                                        <div class="row written-comment-row">
                                            <div class="col-2 col-xl-1 col-lg-1 col-md-1 col-sm-2 written-comment-profile-side">
                                                <div class="img-div">
                                                    <img src="~/uploads/personalside/@child.CreatedByUser.ImagePath"
                                                 alt="Profile Photo" />
                                                </div>
                                            </div>
                                            <div class="col-10 col-xl-11 col-lg-11 col-md-11 col-sm-10 written-comment-content-side">
                                                <h5 class="written-comment-content-heading">@child.CreatedByUser.Name @child.CreatedByUser.Surname</h5>
                                                <p class="written-comment-content-content">
                                                    @child.Content
                                                </p>
                                                <div class="written-comment-bottom-box">
                                                    <a onclick="setReply(event)" data-comment-id="@child.Id" class="reply-btn">Reply</a>
                                                    <p class="comment-date">@child.CreatedDate.ToString("MMMM dd, yyyy")</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<!-- movie description comment end -->
@section js{
<script src="~/assets/js/blog-details.js"></script>
<script>
    $(function(){
      let form = $('#blog-description-comment-form');
      $(form).on('submit', (e) => {
         e.preventDefault();

         if($(e.currentTarget).find('.blog-description-textarea').val() == ""){
             $(e.currentTarget).find('.blog-description-textarea').css('border-color', 'red');
             return;
         }

         let formData = new FormData(e.currentTarget);
         $.ajax({
           url: '@Url.Action("BlogComment")',
           type: "POST",
           processData: false,
           contentType: false,
           data: formData,
           dataType: 'html',
           success: function(response, status, xhr){
               $(e.currentTarget).find('.blog-description-textarea').css('border-color', '#eeeeee');
               let parentId = xhr.getResponseHeader('BlogCommentParentId');
               if(parentId != null) {
                   $(`[identifier="${parentId}"] .movie-details-replies`).append(response);
               }
               else {
                 $('.written-comment').append(response);
               }
               e.currentTarget.reset();
               $('#blog-description-comment-form div.comment').remove();
           },
           error: function(response){
               console.log(response);
           }
         });
      });
    });

    function setReply(ev){
        ev.preventDefault();
        ev.stopPropagation();

        const parentId = $(ev.currentTarget).data('comment-id');

        $('#blog-description-comment-form input[name="ParentId"]').val(parentId);
        $('#blog-description-comment-form .written-comment-row').remove();
        const comment = $(ev.currentTarget).closest('.written-comment-row').clone(true);
        $(comment).find('.movie-details-replies').html('');
        $(comment).find('.reply-btn').remove();
        let trashBtn = $("<span class='trash-btn' style='color: red;cursor: pointer;'><i class='far fa-trash-alt'></i></span>");
        $(trashBtn).click(() => {
          $(comment).remove();
          $('#blog-description-comment-form input[name="ParentId"]').val('');
        });
        $(comment).find('.written-comment-bottom-box').prepend(trashBtn);
        $(comment).insertBefore($('#blog-description-comment-form').children()[0]);
    }
</script>
}


