@inject MovieDbContext db

@{
    var appInfo = db.AppInfos.Where(a => a.DeletedDate == null).FirstOrDefault();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | YouVideo</title>
    <link rel="stylesheet" href="~/assets/sources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/sources/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/sources/css/icons.bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/sources/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/assets/sources/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/libs/toastr.js/toastr.min.css" />
    <link rel="stylesheet" href="~/assets/sources/css/magnific-popup.min.css" />
    <style>
        #subscription {
            box-shadow: none;
            border-radius: 0;
        }

        .header-top-right-language ul {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            padding: 0 7.5%;
            transition: 0.3s;
        }

            .header-top-right-language ul a {
                color: black !important;
                font-size: 0.9rem;
                font-family: "Baloo";
            }

        .header-top-right-language:hover ul {
            opacity: 1;
            background-color: white;
            visibility: visible;
        }

        header nav .nav-container .nav-row .right-nav .nav-links li:not(:last-child) {
            margin-right: 3.5% !important;
        }
    </style>
    @await RenderSectionAsync("css", required: false)
    <link rel="stylesheet"
          href="~/assets/sources/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.min.css" />
    <link rel="shortcut icon"
          href="~/assets/icons/favicon.ico"
          type="image/x-icon" />
</head>
<body>
    <!-- header start -->
    <header>
        <!-- nav start -->
        <nav>
            <div class="container nav-container">
                <div class="row nav-row">
                    <div class="col-6 col-xl-2 col-lg-2 col-md-6 col-sm-6 left-nav">
                        <a href="index.html"> @Html.Raw(appInfo.HeaderContent) </a>
                    </div>
                    <div class="col-xl-10 col-lg-10 right-nav">
                        <ul class="nav-links">
                            <li><a asp-action="Index" asp-controller="Home">@LayoutResource.Home</a></li>
                            <li><a asp-action="Index" asp-controller="Movie">@LayoutResource.Movies</a></li>
                            <li><a asp-action="Index" asp-controller="Show">@LayoutResource.Shows</a></li>
                            <li><a asp-action="Index" asp-controller="Blog">@LayoutResource.Blog</a></li>
                            <li><a asp-action="ComingSoon" asp-controller="Home">@LayoutResource.Coming_Soon</a></li>
                            <li><a asp-action="FAQ" asp-controller="Home">@LayoutResource.FAQ</a></li>
                            <li><a asp-action="ContactUs" asp-controller="Home">@LayoutResource.Contact_Us</a></li>
                            <li class="nav-login-li"><a asp-action="SignIn" asp-controller="Account">Login</a></li>
                            <li style="width: 5%;">
                                <div class="lang header-top-right-language" style="position: relative;">
                                    <img style="width: 95% !important;" class="lang-flag" src="~/multi-language/flags/aze-flag.svg" alt="" />
                                    <ul>
                                        <li>
                                            <a asp-route-lang="az" data-flag="/multi-language/flags/aze-flag.svg">
                                                Azərbaycan
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-route-lang="en" data-flag="/multi-language/flags/usa-flag.png">
                                                English
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-route-lang="ru" data-flag="/multi-language/flags/ru-flag.webp">
                                                Русский
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </li>
                            <li class="cart-shopping-li">
                                <a asp-action="Index" asp-controller="ShoppingCart">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span class="card-budget">0</span>
                                </a>
                            </li>
                            <li class="wishlist-li">
                                <a asp-action="Index" asp-controller="Wishlist">
                                    <i class="fa-solid fa-heart"></i>
                                    <span class="wishlist">0</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-6 col-sm-6 right-nav-collapsed">
                        <button class="right-nav-collapse-btn">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                    </div>
                    <div class="col-12 col-sm-12 collapsed-nav-items">
                        <ul class="collapsed-nav-links">
                            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                            <li><a asp-action="Index" asp-controller="Movie">Movies</a></li>
                            <li><a asp-action="Index" asp-controller="Show">Shows</a></li>
                            <li><a asp-action="Index" asp-controller="Blog">Blog</a></li>
                            <li><a asp-action="ComingSoon" asp-controller="Home">Coming Soon</a></li>
                            <li><a asp-action="FAQ" asp-controller="Home">FAQ</a></li>
                            <li><a asp-action="ContactUs" asp-controller="Home">Contact Us</a></li>
                            <li class="nav-login-li"><a asp-action="SignIn" asp-controller="Account">Login</a></li>
                            <li class="cart-shopping-li">
                                <a asp-action="Index" asp-controller="ShoppingCart">Shopping Cart</a>
                            </li>
                            <li class="wishlist-li">
                                <a asp-action="Index" asp-controller="Wishlist">Wishlist</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- nav end -->
    </header>
    <!-- header end -->
    <!-- main start -->
    <main>
        @RenderBody()
    </main>
    <!-- main end -->
    <!-- footer start -->
    <footer>
        <!-- shortcut paths start -->
        <section id="shortcut-paths">
            <div class="container shortcut-paths-container">
                <div class="row shortcut-paths-row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 connect-side">
                        <a class="connect-logo" href="#"> @Html.Raw(appInfo.FooterContent) </a>
                        <p class="connect-description">
                            @appInfo.Description
                        </p>
                        <ul class="connect-apps-box">
                            <li>
                                <a href="@appInfo.FacebookLink" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="@appInfo.TwitterLink" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="@appInfo.LinkedinLink" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="@appInfo.TelegramLink" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                            </li>
                        </ul>
                        <div class="subscription-side mt-4">
                            <form id="subscription-form">
                                <label for="subscription">Yenililərdən xəbər almaq üçün qoşulun</label>
                                <input id="subscription" name="email" class="form-control" placeholder="Emailinizi daxil edin..." />
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 movies-side">
                        <h4 class="movies-heading">Movies</h4>
                        <div class="movies-side-box">
                            <div class="row movies-side-box-row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 movies-side-box-left-side">
                                    <div class="movie-item"><a href="#">Drama</a></div>
                                    <div class="movie-item"><a href="#">Action</a></div>
                                    <div class="movie-item"><a href="#">Animation</a></div>
                                    <div class="movie-item"><a href="#">Comedy</a></div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 movies-side-box-right-side">
                                    <div class="movie-item"><a href="#">Crime</a></div>
                                    <div class="movie-item"><a href="#">Fantacy</a></div>
                                    <div class="movie-item"><a href="#">Horror</a></div>
                                    <div class="movie-item"><a href="#">Romance</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 tv-shows-side">
                        <h4 class="tv-shows-heading">Tv Shows</h4>
                        <div class="tv-shows-side-box">
                            <div class="row tv-shows-side-box-row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tv-shows-side-box-left-side">
                                    <div class="tv-shows-item">
                                        <a href="#">Breaking Bad</a>
                                    </div>
                                    <div class="tv-shows-item"><a href="#">Grimm</a></div>
                                    <div class="tv-shows-item"><a href="#">Friends</a></div>
                                    <div class="tv-shows-item"><a href="#">Supergirl</a></div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tv-shows-side-box-right-side">
                                    <div class="tv-shows-item">
                                        <a href="#">Breaking Bad</a>
                                    </div>
                                    <div class="tv-shows-item"><a href="#">Grimm</a></div>
                                    <div class="tv-shows-item"><a href="#">Friends</a></div>
                                    <div class="tv-shows-item"><a href="#">Supergirl</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 my-account-side">
                        <h4 class="my-account-heading">My Account</h4>
                        <div class="my-account-side-box">
                            <div class="row my-account-side-box-row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 my-account-side-box-left-side">
                                    <div class="my-account-item">
                                        <a href="#">My Account</a>
                                    </div>
                                    <div class="my-account-item"><a href="#">FAQ</a></div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 my-account-side-box-right-side">
                                    <div class="my-account-item"><a href="#"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- shortcut paths end -->
        <!-- copyright start -->
        <section id="copyright">
            <div class="container copyright-container">
                <p class="copyright-content text-center">
                    YouVideo - © 2022 All Rights Reserved
                </p>
            </div>
        </section>
        <!-- copyright end -->
    </footer>
    <!-- footer end -->

    <script src="~/assets/sources/js/jquery.min.js"></script>
    <script src="~/assets/sources/js/bootstrap.min.js"></script>
    <script src="~/assets/sources/js/swiper-bundle.min.js"></script>
    <script src="~/assets/sources/js/owl.carousel.min.js"></script>
    <script src="~/assets/sources/js/magnific-popup.min.js"></script>
    <script src="~/assets/sources/js/mixitup.min.js"></script>
    <script src="~/libs/toastr.js/toastr.min.js"></script>
    <script src="~/libs/toastr.js/toastr.customize.min.js"></script>
    <script src="~/libs/jquery-cookie/jquery.cookie.min.js"></script>
    <script src="~/assets/js/header.js"></script>
    <script>
        $(document).ready(function(){
            let url = window.location.pathname;

            var el = $(`.lang [href='${url}']`).eq(0);

            $('.lang-flag').attr('src', $(el).data('flag'));
            $('.lang-text').html($(el).text());

            //---Wishlist---
            let wishlistShow = $.cookie('wishlist-show');
            if (wishlistShow == null || wishlistShow == '') {
              wishlistShow = [];
            }
            else {
              wishlistShow = wishlistShow.split(',').map(v => parseInt(v));
            }

            let wishlistMovie= $.cookie('wishlist-movie');
            if (wishlistMovie == null || wishlistMovie == '') {
              wishlistMovie = [];
            }
            else {
              wishlistMovie = wishlistMovie.split(',').map(v => parseInt(v));
            }

            let wishlistShowCount = wishlistShow.length;
            let wishlistMovieCount = wishlistMovie.length;
            let totalWishlistCount = wishlistShowCount + wishlistMovieCount;

            if (totalWishlistCount <= 9) {
              $('.wishlist').text(totalWishlistCount);
            }
            else {
              $('.wishlist').text('9+');
            }
            //---Wishlist---

            //---Checkout---
            let checkoutShow = $.cookie('checkout-show');
            if (checkoutShow == null || checkoutShow == '') {
              checkoutShow = [];
            }
            else {
              checkoutShow = checkoutShow.split(',').map(v => parseInt(v));
            }

            let checkoutMovie = $.cookie('checkout-movie');
            if (checkoutMovie == null || checkoutMovie == '') {
              checkoutMovie = [];
            }
            else {
              checkoutMovie = checkoutMovie.split(',').map(v => parseInt(v));
            }

            let checkoutShowCount = checkoutShow.length;
            let checkoutMovieCount = checkoutMovie.length;
            let totalCheckoutCount = checkoutShowCount + checkoutMovieCount;

            if (totalCheckoutCount <= 9) {
              $('.card-budget').text(totalCheckoutCount);
            }
            else {
              $('.card-budget').text('9+');
            }
            //---Checkout---


            $('#subscription-form').submit(function (e) {
            e.preventDefault();
            let input = $(e.currentTarget).find('input');
            if ($(input).val().length <= 0) {
                $(input).addClass('is-invalid');
                $(input).css('border', '1px solid red');
                return;
            }
            else {
                $(input).removeClass('is-invalid');
                $(input).css('border', '1px solid #ced4da');
                let serialized = $(e.currentTarget).serialize();
                $.ajax({
                    url: '@Url.Action("Subscribe", "Home")',
                    type: "POST",
                    data: serialized,
                    success: function (successMsg) {
                        if (successMsg.error == false) {
                            toastr.success(successMsg.message);
                            e.currentTarget.reset();
                            return;
                        }
                        toastr.error(successMsg.message);
                    },
                    error: function (errorMsg) {
                        console.log(errorMsg);
                    }
                });
            }
        });
        });
    </script>
    @await RenderSectionAsync("js", required: false)
</body>
</html>
