@model ContactMessagePagedQuery

@{
    ViewData["Title"] = "Contact Message Index";
}

@section css{
<link rel="stylesheet" href="~/libs/limonte-sweetalert2/sweetalert2.min.css" />
<style>
    table {
        width: max-content !important;
    }

    #detailedSearch {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
</style>
}

<div class="card">
    <div class="card-header row align-items-center justify-content-between">
        <div class="table-infos">
            <h5>İsmarıclar</h5>
        </div>
        <div class="brand-plus-btn">
            <a asp-action="Create" class="btn btn-success">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            @if (Model.Response.Items.Count() == 0)
            {
                <div class="alert alert-warning" role="alert">
                    Hələ ki, məlumat yoxdur!
                </div>
            }
            else
            {
                <div class="search-side">
                    <form id="detailedSearch" class="panel-body pt-4 pb-0">
                        <div class="row-fluid">
                            <div class="form-row justify-content-center">
                                <div class="form-group col-4">
                                    <label class="control-label" asp-for="Name">
                                        Ad
                                    </label>
                                    <input class="form-control" asp-for="Name">
                                </div>
                                <div class="form-group col-4">
                                    <label class="control-label" asp-for="Lastname">
                                        Soyad
                                    </label>
                                    <input class="form-control" asp-for="Lastname">
                                </div>
                                <div class="form-group col-4">
                                    <label class="control-label" asp-for="EmailAddress">
                                        Email
                                    </label>
                                    <input class="form-control" asp-for="EmailAddress">
                                </div>
                                <div class="form-group col-4">
                                    <label class="control-label" asp-for="Content">
                                        Müraciət
                                    </label>
                                    <input class="form-control" asp-for="Content">
                                </div>
                                <div class="form-group col-4">
                                    <label class="control-label" asp-for="Answer">
                                        Cavab
                                    </label>
                                    <input class="form-control" asp-for="Answer">
                                </div>
                                <div class="form-group col-2 d-flex align-items-end">
                                    <button type="submit" class="btn btn-x btn-success">
                                        <i class="fas fa-search mr-2"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id: </th>
                            <th>Ad: </th>
                            <th>Ad: </th>
                            <th>Soyad: </th>
                            <th>Email: </th>
                            <th>Tipi: </th>
                            <th>Müraciət: </th>
                            <th>Cavab: </th>
                            <th>Cavablanma tarixi: </th>
                            <th>Əlavə olunma tarixi: </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Response.Items)
                        {
                            <tr>
                                <th scope="row">@item.Id</th>
                                <td>@item.Name</td>
                                <td>@item.Lastname</td>
                                <td>@item.EmailAddress</td>
                                <td>@item.ContactMessageType.Text</td>
                                <td>@item.Content</td>
                                <td title="@item.Answer">@item.Answer?.EllipseText(20)</td>
                                <td>@item.AnswerDate?.ToString("dd.MM.yyyy HH:mm:ss")</td>
                                <td>@item.CreatedDate.ToString("dd.MM.yyyy HH:mm:ss")</td>
                                <td style="float: right;">
                                    <a asp-action="Answer" class="btn btn-success" asp-route-id="@item.Id"><i class="fa-solid fa-reply"></i></a>
                                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id"><i class="far fa-eye"></i></a>
                                    <a style="cursor: pointer; color: white;" class="btn btn-danger btn-del" data-del-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.AntiForgeryToken()
            }
            <div class="pagination-div">
                @Model.Response.GetPagenation(Url, "Index", "Admin")
            </div>
        </div>
    </div>
</div>

@section js{
<script src="~/libs/limonte-sweetalert2/sweetalert2.min.js"></script>
<script>
    $(document).ready(function(){
       let btnDel = $('.btn-del');
        $(btnDel).on('click', (e)=>{
            let id = $(e.currentTarget).data('del-id');
                Swal.fire({
      title: 'Əminsinizmi?',
      text: "Bu əməliyyat geri qaytarılmayacaq!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Bəli, silinsin!'
    }).then((result) => {
      if (result.isConfirmed) {
          let token = $('input[name="__RequestVerificationToken"]').val();

          $.ajax({
              url:`@Url.Action("Delete")/${id}`,
              type:"POST",
              data: {
                __RequestVerificationToken: token
              },
              success: function(response){
                  $(e.currentTarget).closest('tr').remove();
                  if(!response.error){
                    setTimeout(()=>{
                      window.location.reload();
                    }, 1500);
                    return;
                }

                toastr.error(response.message, "Xəta!");
              },
              error: function(response){
                  console.log(response.message);
              }
          });
        Swal.fire(
          'Silindi!',
          'Sizin seçdiyiniz məlumat uğurla silindi.',
          'success'
        )
      }
    })
        });
    });
</script>
}