@model MoviePagedQuery

@{
    ViewData["Title"] = "Movie Index";
}

@section css{
<link rel="stylesheet" href="~/libs/limonte-sweetalert2/sweetalert2.min.css" />
<style>
    iframe {
        width: 75%;
        height: 125px;
    }
</style>
}

<div class="card">
    <div class="card-header row align-items-center justify-content-between">
        <div class="table-infos">
            <h5>Movie</h5>
        </div>
        <div class="brand-plus-btn">
            <a asp-action="Create" class="btn btn-success">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            @if (Model.Response.Items.Count() == 0)
            {
                <div class="alert alert-warning" role="alert">
                    Hələ ki, məlumat yoxdur!
                </div>
            }
            else
            {
                <div class="search-side">
                    <form id="detailedSearch" class="panel-body pt-4 pb-0">
                        <div class="row-fluid">
                            <div class="form-row justify-content-center">
                                <div class="form-group col-4">
                                    <label class="control-label" asp-for="Name">
                                        Adı
                                    </label>
                                    <input class="form-control" asp-for="Name">
                                </div>
                                <div class="form-group col-4">
                                    <label class="control-label" asp-for="Description">
                                        Ətraflı
                                    </label>
                                    <input class="form-control" asp-for="Description">
                                </div>
                                <div class="form-group col-2 d-flex align-items-end">
                                    <button type="submit" class="btn btn-x btn-success">
                                        <i class="fas fa-search mr-2"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table" style="width: max-content;">
                    <thead>
                        <tr>
                            <th>Id: </th>
                            <th>Adı: </th>
                            <th>Ətraflı: </th>
                            <th>Film Ünvanı: </th>
                            <th>Premium Statusu: </th>
                            <th>Müddət: </th>
                            <th>Keyfiyyət: </th>
                            <th>Direktor: </th>
                            <th>Qiymət:</th>
                            <th>Əlavə olunma tarixi: </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Response.Items)
                        {
                            <tr>
                                <th scope="row">@item.Id</th>
                                <td>@item.Name</td>
                                <td title="@item.Description">@item.Description.EllipseText(20)</td>
                                <td>@Html.Raw(item.MovieFrame)</td>
                                <td>@(item.IsPremium ? "Premium" : "Premium Deyil")</td>
                                <td>@item.Duration</td>
                                <td>@item.Quality</td>
                                <td>@item.Director.Name</td>
                                <td>@item.Price</td>
                                <td>@item.CreatedDate.ToString("dd.MM.yyyy HH:mm:ss")</td>
                                <td style="float: right; padding-top: 30%;">
                                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id"><i class="fas fa-pencil-alt"></i></a>
                                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id"><i class="far fa-eye"></i></a>
                                    <a style="cursor: pointer; color: white;" class="btn btn-danger btn-del" data-del-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.AntiForgeryToken()
            }
            <div class="pagination-div">
                @Model.Response.GetPagenation(Url, "Index", "Admin")
            </div>
        </div>
    </div>
</div>

@section js{
<script src="~/libs/limonte-sweetalert2/sweetalert2.min.js"></script>
<script>
    $(document).ready(function(){
       let btnDel = $('.btn-del');
        $(btnDel).on('click', (e)=>{
            let id = $(e.currentTarget).data('del-id');
                Swal.fire({
      title: 'Əminsinizmi?',
      text: "Bu əməliyyat geri qaytarılmayacaq!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Bəli, silinsin!'
    }).then((result) => {
      if (result.isConfirmed) {
          let token = $('input[name="__RequestVerificationToken"]').val();

          $.ajax({
              url:`@Url.Action("Delete")/${id}`,
              type:"POST",
              data: {
                __RequestVerificationToken: token
              },
              success: function(response){
                  $(e.currentTarget).closest('tr').remove();
                  if(!response.error){
                    setTimeout(()=>{
                      window.location.reload();
                    }, 1500);
                    return;
                }

                toastr.error(response.message, "Xəta!");
              },
              error: function(response){
                  console.log(response.message);
              }
          });
        Swal.fire(
          'Silindi!',
          'Sizin seçdiyiniz məlumat uğurla silindi.',
          'success'
        )
      }
    })
        });
    });
</script>
}