@model CheckoutViewModel

@{
    ViewData["Title"] = "Shopping Cart";
}

@section css{
<link rel="stylesheet" href="~/assets/sources/css/select2.min.css" />
<link rel="stylesheet" href="~/libs/AlertifyJS/css/alertify.min.css" />
<style>
    iframe {
        width: 100%;
    }

    .name-price-price > span,
    .name-price-price > span {
        font-family: "Baloo";
    }

    .cart_total p,
    .cart_total span {
        font-family: "Baloo";
        color: #e41a1a;
        font-weight: 600;
    }

    .purchase-movie-btn {
        user-select: none;
    }

    .shopping-cart-empty-side-row {
        align-items: center;
        padding: 3.5% 2.5%;
        border-radius: 4px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    }

        .shopping-cart-empty-side-row .empty-basket-desc {
            font-weight: 600;
            font-family: "Baloo";
            font-size: 1.2rem !important;
            margin-left: 1.5%;
        }

        .shopping-cart-empty-side-row .basket-span {
            display: inline-block;
            width: 75px;
            height: 75px;
            font-size: 2.2rem;
            line-height: 75px;
            text-align: center;
            border-radius: 50%;
            color: #e41a1a;
            background: linear-gradient( 90deg, rgba(252, 92, 101, 1) 0%, rgba(252, 92, 101, 0.35384576193758754) 0% );
        }

        .shopping-cart-empty-side-row .shopping-empty-right-side {
            text-align: right;
        }

        .shopping-cart-empty-side-row .empty-basket-redirect-btn {
            background-color: #e41a1a;
            color: #fff;
            border-radius: 6px;
            font-weight: 600;
            padding: 14.5px 23.5px;
            text-align: center;
            transition: all 0.2s ease;
        }
</style>
}

<!-- shopping cart banner start -->
<section id="shopping-cart-banner">
    <div class="container shopping-cart-banner-container">
        <div class="row shopping-cart-banner-row">
            <h1 class="shopping-cart-banner-heading">Shopping Cart Side</h1>
        </div>
    </div>
</section>
<!-- shopping cart banner end -->
<!-- shopping cart start -->
<section id="shopping-cart">
    <div class="container shopping-cart-container">
        <div class="row shopping-cart-row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 shopping-cart-col">
                <div class="shopping-cart-filter-tools-side">
                    <button class="shopping-cart-filter-movies-btn selected">
                        <i class="bi bi-film"></i> Movies
                    </button>
                    <button class="shopping-cart-filter-shows-btn">
                        <i class="bi bi-camera-reels"></i> Shows
                    </button>
                </div>

                <div class="row movie-checkout-box-row visible">
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 checkout-items-col">
                        @if (Model != null && Model?.Movies != null)
                        {
                            @foreach (var item in Model.Movies)
                            {
                                <div class="movie-checkout-item the-movie-item" data-movie-id="@item.Id">
                                    <div class="img-div">
                                        @Html.Raw(item.MovieFrame)
                                    </div>
                                    <div class="name-and-price-side">
                                        <h5 class="name-price-heading">@item.Name</h5>
                                        <p class="name-price-price">$ <span>@item.Price</span></p>
                                    </div>
                                    <div class="select-for-days d-flex flex-column align-items-center">
                                        <select class="select-for-days-select">
                                            <option value="">---Choose---</option>
                                            <option value="OneDay">For 1 Day</option>
                                            <option value="ThreeDays">For 3 Day</option>
                                            <option value="SevenDays">For 7 Day</option>
                                        </select>
                                        <small class="text-danger d-none error-select">Seçim edin!</small>
                                    </div>
                                    <div class="final-price">
                                        <p class="name-price-price">$ <span>@item.Price</span></p>
                                    </div>
                                    <div class="times-side">
                                        <button class="times-side-btn times-movie-btn">
                                            <i class="bi bi-x-circle"></i>
                                        </button>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="row shopping-cart-empty-side-row">
                                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 shopping-empty-left-side">
                                    <span class="basket-span"><i class="bi bi-cart3"></i></span>
                                    <p class="empty-basket-desc">
                                        There are no movies in your cart.
                                    </p>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-4 col-sm-12 shopping-empty-right-side">
                                    <a asp-action="Index" asp-controller="Movie" class="empty-basket-redirect-btn">Back To Movies Tab</a>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 total-price-col">
                        <div class="cart_total">
                            <h6>Cart total</h6>
                            <ul>
                                <li>Total: <p>$ <span>0</span></p></li>
                            </ul>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a style="cursor: pointer; color: white" class="primary-btn purchase-movie-btn">Proceed to checkout</a>
                            }
                            else
                            {
                                <a style="cursor: pointer; color: white" asp-action="SignIn" asp-controller="Account" asp-route-returnUrl="@Context.Request.Path.ToString()" class="primary-btn">Proceed to checkout</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="row shows-checkout-box-row">
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 checkout-items-col">
                        @if (Model != null && Model?.Shows != null)
                        {
                            @foreach (var item in Model.Shows)
                            {
                                <div class="movie-checkout-item the-show-item" data-show-id="@item.Id">
                                    <div class="img-div">
                                        <img style="object-fit: contain;" src="~/uploads/shows/@item.ImagePath" />
                                    </div>
                                    <div class="name-and-price-side">
                                        <h5 class="name-price-heading">@item.Name</h5>
                                    </div>
                                    <div class="seats-for-show text-center d-flex flex-column align-items-center">
                                        <input type="number" class="show-seat-count d-inline-block" style="width: 35%;" />
                                        <small class="text-danger d-none error-input">Seçim edin!</small>
                                    </div>
                                    <div class="final-price show-final-price">
                                        <p class="name-price-price">$ <span>@item.Price</span></p>
                                    </div>
                                    <div class="times-side">
                                        <button class="times-side-btn">
                                            <i class="bi bi-x-circle"></i>
                                        </button>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="row shopping-cart-empty-side-row">
                                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 shopping-empty-left-side">
                                    <span class="basket-span"><i class="bi bi-cart3"></i></span>
                                    <p class="empty-basket-desc">
                                        There are no movies in your cart.
                                    </p>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-4 col-sm-12 shopping-empty-right-side">
                                    <a asp-action="Index" asp-controller="Show" class="empty-basket-redirect-btn">Back To Shows Tab</a>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 total-price-col">
                        <div class="cart_total">
                            <h6>Cart total</h6>
                            <ul class="show-cart-total">
                                <li>Total: <span>$ <span>0</span></span></li>
                            </ul>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a style="cursor: pointer; color: white" class="primary-btn purchase-show-btn">Proceed to checkout</a>
                            }
                            else
                            {
                                <a style="cursor: pointer; color: white" asp-action="SignIn" asp-controller="Account" asp-route-returnUrl="@Context.Request.Path.ToString()" class="primary-btn">Proceed to checkout</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- shopping cart end -->
@section js{
<script src="~/assets/sources/js/select2.min.js"></script>
<script src="~/assets/js/shopping-cart.js"></script>
<script src="~/libs/AlertifyJS/alertify.min.js"></script>
<script>
    $(function() {
         //---Movies---
      let movieCardTotal = $('.cart_total').find('span');

      let movieCardTotalPrice = 0;
      $('.select-for-days-select').each((index, item) => {
          movieCardTotalPrice += parseFloat($(item).parent().next('.final-price').find('.name-price-price').find('span').text());
          $(movieCardTotal).text(movieCardTotalPrice);
      });

      $('.select-for-days-select').change((e) => {
          let moviePrice = parseFloat($(e.currentTarget).parent().prev('.name-and-price-side').find('.name-price-price').find('span').text());
          let movieTotalPriceSide = $(e.currentTarget).parent().next('.final-price').find('.name-price-price').find('span');

          if($(e.currentTarget).val() == "OneDay") {
              moviePrice = moviePrice * 1;
          }
          else if($(e.currentTarget).val() == "ThreeDays"){
              moviePrice = moviePrice * 3;
          }
          else if($(e.currentTarget).val() == "SevenDays"){
              moviePrice = moviePrice * 7;
          }

          $(movieTotalPriceSide).text(moviePrice);

          movieCardTotalPrice = 0;
          $('.select-for-days-select').each((index, item) => {
              movieCardTotalPrice += parseFloat($(item).parent().next('.final-price').find('.name-price-price').find('span').text());
              $(movieCardTotal).text(movieCardTotalPrice);
          });
      });

      $('.times-movie-btn').on('click', function(e) {
              let movieId = $(e.currentTarget).closest('.movie-checkout-item').data('movie-id');
              $(e.currentTarget).closest('.movie-checkout-item').remove();

              let checkoutFromCookieArr = $.cookie("checkout-movie").split(',').map(v => Number(v))
              let index = checkoutFromCookieArr.indexOf(movieId);
              if (index != -1) {
                  checkoutFromCookieArr.splice(index, 1);
                  $.cookie("checkout-movie", checkoutFromCookieArr.toString(), { expires: 365, path: '/' });
                  alertify.success("Seçdiyiniz məhsul səbətdən silindi!", "Uğurlu!");

                  let checkoutShow = $.cookie('checkout-show');
                  if (checkoutShow == null || checkoutShow == '') {
                    checkoutShow = [];
                  }
                  else {
                    checkoutShow = checkoutShow.split(',').map(v => parseInt(v));
                  }

                  let checkoutMovie= $.cookie('checkout-movie');
                  if (checkoutMovie == null || checkoutMovie == '') {
                    checkoutMovie = [];
                  }
                  else {
                    checkoutMovie = checkoutMovie.split(',').map(v => parseInt(v));
                  }

                  let checkoutShowCount = checkoutShow.length;
                  let checkoutMovieCount = checkoutMovie.length;
                  let totalCheckoutCount = checkoutShowCount + checkoutMovieCount;

                  if (totalCheckoutCount <= 9) {
                    $('.card-budget').text(totalCheckoutCount);
                  }
                  else {
                    $('.card-budget').text('9+');
                  }

                  let movieCardTotalPrice = 0;
                  $('.select-for-days-select').each((index, item) => {
                      movieCardTotalPrice += parseFloat($(item).parent().next('.final-price').find('.name-price-price').find('span').text());
                      $(movieCardTotal).text(movieCardTotalPrice);
                  });
              }
              else {
                   return;
              }
            });
            //---Movies---

         //---Shows---
         let showCardTotal = $('.show-cart-total').find('span').find('span');

         let showCardTotalPrice = 0;
         $('.show-final-price').each((index, item) => {
             showCardTotalPrice += parseFloat($(item).find('span').text());
             $(showCardTotal).text(showCardTotalPrice);
         });

         $('.show-seat-count').on('input',(e) => {
          let showTotalPriceSide = parseFloat($(e.currentTarget).parent().next('.final-price').find('.name-price-price').find('span').text());

          if($(e.currentTarget).val() > 0) {
              showTotalPriceSide = showTotalPriceSide * $(e.currentTarget).val();
          }

          $(e.currentTarget).parent().next('.final-price').find('.name-price-price').find('span').text(showTotalPriceSide);

          showCardTotalPrice = 0;
          $('.show-seat-count').each((index, item) => {
              showCardTotalPrice += parseFloat($(item).parent().next('.final-price').find('.name-price-price').find('span').text());
              $(showCardTotal).text(showCardTotalPrice);
          });
      });

      $('.times-side-btn').on('click', function(e) {
              let showId = $(e.currentTarget).closest('.movie-checkout-item').data('show-id');
              $(e.currentTarget).closest('.movie-checkout-item').remove();

              let checkoutFromCookieArr = $.cookie("checkout-show").split(',').map(v => Number(v))
              let index = checkoutFromCookieArr.indexOf(showId);
              if (index != -1) {
                  checkoutFromCookieArr.splice(index, 1);
                  $.cookie("checkout-show", checkoutFromCookieArr.toString(), { expires: 365, path: '/' });
                  alertify.success("Seçdiyiniz məhsul səbətdən silindi!", "Uğurlu!");

                  let checkoutShow = $.cookie('checkout-show');
                  if (checkoutShow == null || checkoutShow == '') {
                    checkoutShow = [];
                  }
                  else {
                    checkoutShow = checkoutShow.split(',').map(v => parseInt(v));
                  }

                  let checkoutMovie= $.cookie('checkout-movie');
                  if (checkoutMovie == null || checkoutMovie == '') {
                    checkoutMovie = [];
                  }
                  else {
                    checkoutMovie = checkoutMovie.split(',').map(v => parseInt(v));
                  }

                  let checkoutShowCount = checkoutShow.length;
                  let checkoutMovieCount = checkoutMovie.length;
                  let totalCheckoutCount = checkoutShowCount + checkoutMovieCount;

                  if (totalCheckoutCount <= 9) {
                    $('.card-budget').text(totalCheckoutCount);
                  }
                  else {
                    $('.card-budget').text('9+');
                  }

                  let showCardTotalPrice = 0;
                  $('.show-seat-count').each((index, item) => {
                    showCardTotalPrice += parseFloat($(item).parent().next('.final-price').find('.name-price-price').find('span').text());
                    $(showCardTotal).text(showCardTotalPrice);
                  });
              }
              else {
                   return;
              }
            });
            //---Shows---

            $('.purchase-movie-btn').on('click', function(){
                let formData = new FormData();
                let counter = 0;

                $('.the-movie-item').each((index, item) => {
                    if($(item).find('.select-for-days-select').val() == "") {
                       $(item).find('.error-select').removeClass('d-none');
                       return;
                    }

                    let movieId = $(item).data('movie-id');
                    let totalPrice = $(item).find('.final-price').find('span').text();
                    let period;
                    if($(item).find('.select-for-days-select').val() == "OneDay") {
                        $(item).find('.error-select').addClass('d-none');
                        period = 1;
                    }
                    else if($(item).find('.select-for-days-select').val() == "ThreeDays"){
                        $(item).find('.error-select').addClass('d-none');
                        period = 3;
                    }
                    else if($(item).find('.select-for-days-select').val() == "SevenDays"){
                        $(item).find('.error-select').addClass('d-none');
                        period = 7;
                    }

                    formData.append(`MovieCheckouts[${counter}].MovieId`, movieId);
                    formData.append(`MovieCheckouts[${counter}].TotalPrice`, totalPrice);
                    formData.append(`MovieCheckouts[${counter}].Period`, period);

                    counter++;
                });

                $.ajax({
                    url: '@Url.Action("MovieCheckout")',
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: (response) => {
                      if(response.error == false) {
                          toastr.success(response.message, "Uğurlu!");
                          document.cookie = 'checkout-movie'+'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;'
                          setTimeout(() => {
                              window.location.href = '@Url.Action("Index")';
                          }, 2500);
                          return;
                      }

                      toastr.error(response.message, "Xəta!");
                    },
                    error: (response) => {
                      console.log(response);
                    }
                });
            });

            $('.purchase-show-btn').on('click', function(){
                let formData = new FormData();
                let counter = 0;

                $('.the-show-item').each((index, item) => {
                    if($(item).find('.show-seat-count').val() <= 0) {
                       $(item).find('.error-input').removeClass('d-none');
                       return;
                    }

                    let showId = $(item).data('show-id');
                    let totalPrice = $(item).find('.final-price').find('span').text();
                    let peopleCount;
                    if($(item).find('.show-seat-count').val() > 0) {
                        $(item).find('.error-input').addClass('d-none');
                        peopleCount = $(item).find('.show-seat-count').val();
                    }

                    formData.append(`ShowCheckouts[${counter}].ShowId`, showId);
                    formData.append(`ShowCheckouts[${counter}].TotalPrice`, totalPrice);
                    formData.append(`ShowCheckouts[${counter}].PeopleCount`, peopleCount);

                    counter++;
                });

                $.ajax({
                    url: '@Url.Action("ShowCheckout")',
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: (response) => {
                      if(response.error == false) {
                          toastr.success(response.message, "Uğurlu!");
                          document.cookie = 'checkout-show'+'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;'
                          setTimeout(() => {
                              window.location.href = '@Url.Action("Index")';
                          }, 2500);
                          return;
                      }

                      toastr.error(response.message, "Xəta!");
                    },
                    error: (response) => {
                      console.log(response);
                    }
                });
            });
    });
</script>
}

