@model WishlistViewModel

@{
    ViewData["Title"] = "Wishlist";
}

@section css{
<link rel="stylesheet" href="~/libs/AlertifyJS/css/alertify.min.css" />
<style>
    iframe {
        width: 100%;
    }
</style>
}

<!-- wishlist banner start -->
<section id="wishlist-banner">
    <div class="container wishlist-banner-container">
        <div class="row wishlist-banner-row">
            <h1 class="wishlist-banner-heading">Wishlist Side</h1>
        </div>
    </div>
</section>
<!-- wishlist banner end -->
<!-- wishlist start -->
<section id="wishlist">
    <div class="container wishlist-container">
        <div class="row wishlist-row">
            <div class="wishlist-filter-tools-side">
                <button class="wishlist-filter-movies-btn selected">
                    <i class="bi bi-film"></i> Movies
                </button>
                <button class="wishlist-filter-shows-btn">
                    <i class="bi bi-camera-reels"></i> Shows
                </button>
            </div>
            <div class="row wishlist-movies-row">
                @if (Model != null && Model?.Movies != null)
                {
                    @foreach (var item in Model.Movies)
                    {
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-movies-card-col">
                            <div class="card" data-id="@item.Id">
                                <div class="img-div">
                                    @Html.Raw(item.MovieFrame)
                                    <div class="latest-movies-img-box">
                                        <div class="img-box-top">
                                            <span class="badge latest-movies-badge text-dark">@(item.IsPremium ? "Premium" : "")</span>
                                            <p>@item.GetAverageRating()/5</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-body-about-side">
                                        <a href="movie-details.html">@item.Name</a>
                                        <p>@item.Duration</p>
                                    </div>
                                    <ul class="latest-movies-tags-ul">
                                        @foreach (var dynamic in item.MovieGenreCastItems)
                                        {
                                            <li><a href="#">@dynamic.Genre.Name,</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="alert alert-danger mt-5" role="alert">
                        Hələ ki, film istək hissəsi boşdur!
                    </div>
                }
            </div>
            <div class="row wishlist-shows-row">
                @if (Model != null && Model?.Shows != null)
                {
                    @foreach (var item in Model?.Shows)
                    {
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-tv-show-bottom-col">
                            <div class="card" data-id="@item.Id">
                                <div class="img-div">
                                    <img src="~/uploads/shows/@item.ImagePath"
                                 class="card-img-top"
                                 alt="Latest Movies Img" />
                                    <div class="latest-tv-show-img-box">
                                        <div class="img-box-top">
                                            <span class="badge latest-tv-show-badge text-dark">@(item.IsPremium ? "Premium" : "")</span>
                                            <p>@item.GetAverageRating()/5</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-body-about-side">
                                        <a class="card-bottom-left" asp-action="Details" asp-controller="Show" asp-route-id="@item.Id">@item.Name</a>
                                        <a class="card-bottom-right" href="#">@item.ShowGenreCastItems.FirstOrDefault()?.Genre.Name</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="alert alert-danger mt-5" role="alert">
                        Hələ ki, tamaşa istək hissəsi boşdur!
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- wishlist end -->
@section js{
<script src="~/assets/js/wishlist.js"></script>
<script src="~/libs/AlertifyJS/alertify.min.js"></script>
<script>
    $(document).ready(function() {
        $('.latest-movies-tags-ul').each((index, item) => {
         $(item).find('a').last().text($(item).find('a').last().text().substr(0, $(item).find('a').last().text().length - 1));
        });

        $('.remove-movie-btn').on('click', function(e) {
          let movieId = $(e.currentTarget).closest('.card').data('id');

          let wishlistFromCookieArr = $.cookie("wishlist-movie").split(',').map(v => Number(v))
          let index = wishlistFromCookieArr.indexOf(movieId);
          if (index != -1) {
              wishlistFromCookieArr.splice(index, 1);
              $.cookie("wishlist-movie", wishlistFromCookieArr.toString(), { expires: 365, path: '/' });
              alertify.success("Seçdiyiniz məhsul səbətdən silindi!", "Uğurlu!");

              let wishlistShow = $.cookie('wishlist-show');
              if (wishlistShow == null || wishlistShow == '') {
                wishlistShow = [];
              }
              else {
                wishlistShow = wishlistShow.split(',').map(v => parseInt(v));
              }
              
              let wishlistMovie= $.cookie('wishlist-movie');
              if (wishlistMovie == null || wishlistMovie == '') {
                wishlistMovie = [];
              }
              else {
                wishlistMovie = wishlistMovie.split(',').map(v => parseInt(v));
              }
              
              let wishlistShowCount = wishlistShow.length;
              let wishlistMovieCount = wishlistMovie.length;
              let totalWishlistCount = wishlistShowCount + wishlistMovieCount;
              
              if (totalWishlistCount <= 9) {
                $('.wishlist').text(totalWishlistCount);
              }
              else {
                $('.wishlist').text('9+');
              }
          }
          else {
               return;
          }
        });

        $('.remove-show-btn').on('click', function(e) {
          let showId = $(e.currentTarget).closest('.card').data('id');

          let wishlistFromCookieArr = $.cookie("wishlist-show").split(',').map(v => Number(v))
          let index = wishlistFromCookieArr.indexOf(showId);
          if (index != -1) {
              wishlistFromCookieArr.splice(index, 1);
              $.cookie("wishlist-show", wishlistFromCookieArr.toString(), { expires: 365, path: '/' });
              alertify.success("Seçdiyiniz məhsul səbətdən silindi!", "Uğurlu!");

              let wishlistShow = $.cookie('wishlist-show');
              if (wishlistShow == null || wishlistShow == '') {
                wishlistShow = [];
              }
              else {
                wishlistShow = wishlistShow.split(',').map(v => parseInt(v));
              }
              
              let wishlistMovie= $.cookie('wishlist-movie');
              if (wishlistMovie == null || wishlistMovie == '') {
                wishlistMovie = [];
              }
              else {
                wishlistMovie = wishlistMovie.split(',').map(v => parseInt(v));
              }
              
              let wishlistShowCount = wishlistShow.length;
              let wishlistMovieCount = wishlistMovie.length;
              let totalWishlistCount = wishlistShowCount + wishlistMovieCount;
              
              if (totalWishlistCount <= 9) {
                $('.wishlist').text(totalWishlistCount);
              }
              else {
                $('.wishlist').text('9+');
              }
          }
          else {
               return;
          }
        });
    });
</script>
}
