@model WishlistViewModel

@{
    ViewData["Title"] = "Wishlist";
}

@section css{
<link rel="stylesheet" href="~/libs/AlertifyJS/css/alertify.min.css" />
}

<!-- wishlist banner start -->
<section id="wishlist-banner">
    <div class="container wishlist-banner-container">
        <div class="row wishlist-banner-row">
            <h1 class="wishlist-banner-heading">Wishlist Side</h1>
        </div>
    </div>
</section>
<!-- wishlist banner end -->
<!-- wishlist start -->
<section id="wishlist">
    <div class="container wishlist-container">
        <div class="row wishlist-row">
            <div class="wishlist-filter-tools-side">
                <button class="wishlist-filter-movies-btn selected">
                    <i class="bi bi-film"></i> Movies
                </button>
                <button class="wishlist-filter-shows-btn">
                    <i class="bi bi-camera-reels"></i> Shows
                </button>
            </div>
            <div class="row wishlist-movies-row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-movies-card-col">
                    <div class="card">
                        <div class="img-div">
                            <img src="assets/images/movies/banner-1.jpg"
                                 class="card-img-top"
                                 alt="Latest Movies Img" />
                            <div class="latest-movies-img-box">
                                <div class="img-box-top">
                                    <span class="badge latest-movies-badge text-dark">Premium</span>
                                    <p>8.4/10</p>
                                </div>
                                <div class="img-box-bottom">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa-solid fa-play"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa-solid fa-tag"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-body-about-side">
                                <a href="movie-details.html">Man Of Steel</a>
                                <p>196 Min</p>
                            </div>
                            <div class="latest-movies-tags-ul">
                                <li><a href="#">Actions,</a></li>
                                <li><a href="#">Thriller,</a></li>
                                <li><a href="#">Comedy</a></li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-movies-card-col">
                    <div class="card">
                        <div class="img-div">
                            <img src="assets/images/movies/banner-2.jpg"
                                 class="card-img-top"
                                 alt="Latest Movies Img" />
                            <div class="latest-movies-img-box">
                                <div class="img-box-top">
                                    <span class="badge latest-movies-badge text-dark">Premium</span>
                                    <p>7.4/10</p>
                                </div>
                                <div class="img-box-bottom">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa-solid fa-play"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa-solid fa-tag"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-body-about-side">
                                <a href="movie-details.html">Deadpool</a>
                                <p>196 Min</p>
                            </div>
                            <div class="latest-movies-tags-ul">
                                <li><a href="#">Actions,</a></li>
                                <li><a href="#">Thriller,</a></li>
                                <li><a href="#">Comedy</a></li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-movies-card-col">
                    <div class="card">
                        <div class="img-div">
                            <img src="assets/images/movies/banner-3.png"
                                 class="card-img-top"
                                 alt="Latest Movies Img" />
                            <div class="latest-movies-img-box">
                                <div class="img-box-top">
                                    <span class="badge latest-movies-badge text-dark">Premium</span>
                                    <p>9.4/10</p>
                                </div>
                                <div class="img-box-bottom">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa-solid fa-play"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa-solid fa-tag"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-body-about-side">
                                <a href="movie-details.html">Avengers</a>
                                <p>196 Min</p>
                            </div>
                            <div class="latest-movies-tags-ul">
                                <li><a href="#">Actions,</a></li>
                                <li><a href="#">Thriller,</a></li>
                                <li><a href="#">Comedy</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row wishlist-shows-row">
                @if (Model != null && Model?.Shows != null)
                {
                    @foreach (var item in Model?.Shows)
                    {
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-tv-show-bottom-col">
                            <div class="card" data-id="@item.Id">
                                <div class="img-div">
                                    <img src="~/uploads/shows/@item.ImagePath"
                                 class="card-img-top"
                                 alt="Latest Movies Img" />
                                    <div class="latest-tv-show-img-box">
                                        <div class="img-box-top">
                                            <span class="badge latest-tv-show-badge text-dark">@(item.IsPremium ? "Premium" : "")</span>
                                            <p>@item.GetAverageRating()/5</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-body-about-side">
                                        <a class="card-bottom-left" asp-action="Details" asp-controller="Show" asp-route-id="@item.Id">@item.Name</a>
                                        <a class="card-bottom-right" href="#">@item.ShowGenreCastItems.FirstOrDefault()?.Genre.Name</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="alert alert-danger mt-5" role="alert">
                        Hələ ki, tamaşa istək hissəsi boşdur!
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- wishlist end -->
@section js{
<script src="~/assets/js/wishlist.js"></script>
<script src="~/libs/AlertifyJS/alertify.min.js"></script>
<script>
    $(document).ready(function() {
        $('.remove-show-btn').on('click', function(e) {
          let showId = $(e.currentTarget).closest('.card').data('id');

          let wishlistFromCookieArr = $.cookie("wishlist-show").split(',').map(v => Number(v))
          let index = wishlistFromCookieArr.indexOf(showId);
          if (index != -1) {
              wishlistFromCookieArr.splice(index, 1);
              $.cookie("wishlist-show", wishlistFromCookieArr.toString(), { expires: 365 });
              alertify.success("Seçdiyiniz məhsul səbətdən silindi!", "Uğurlu!");
          }
          else{
               return;
          }
        });
    });
</script>
}
