@model FilmViewModel

@{
    ViewData["Title"] = "Movies";
}

@section css{
<style>
    iframe {
        width: 100%;
    }

    .ytp-chrome-top {
        display: none !important;
    }
</style>
}

<!-- movies cards animation start -->
<section id="movies-cards-animation">
    <div class="container movies-cards-animation-container">
        <div class="row movies-cards-animation-row">
            <h2 class="movies-cards-main-heading">Movies</h2>
            <h6 class="movies-cards-other-heading">Genre:</h6>
            <ul class="movies-cards-list">
                @foreach (Genre item in Model.Genres)
                {
                    <li class="movies-cards-item">
                        <a class="badge movies-cards-badge" href="#">@item.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>
<!-- movies cards animation end -->
<!-- latest movies start -->
<section id="latest-movies">
    <div class="container latest-movies-container">
        <div class="row latest-movies-row">
            <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 latest-movies-left-heading-side">
                <h2>Latest Movies</h2>
            </div>
            <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 latest-movies-right-view-all-side">
                <a href="#">View All</a>
            </div>
            @foreach (var item in Model.Movies)
            {
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-movies-card-col">
                    <div class="card">
                        <div class="img-div">
                            @Html.Raw(item.MovieFrame)
                            <div class="latest-movies-img-box">
                                <div class="img-box-top">
                                    <span class="badge latest-movies-badge text-dark">@(item.IsPremium ? "Premium" : "")</span>
                                    <p>@item.GetAverageRating()/5</p>
                                </div>
                                <div class="img-box-bottom">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-body-about-side">
                                <a asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                                <p>@item.Duration</p>
                            </div>
                            <div class="latest-movies-genre-price-side">
                                <ul class="latest-movies-tags-ul">
                                    @foreach (var dynamic in item.MovieGenreCastItems)
                                    {
                                        <li><a href="#">@dynamic.Genre.Name,</a></li>
                                    }
                                </ul>
                                <h5 class="latest-movies-price">$ @item.Price</h5>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- latest movies end -->
@section js{
<script src="~/assets/js/movies.js"></script>
<script>
    $(document).ready(() => {
         $('.latest-movies-tags-ul').each((index, item) => {
           $(item).find('a').last().text($(item).find('a').last().text().substr(0, $(item).find('a').last().text().length - 1));
         });
       });
</script>
}
