@model SubscriptionViewModel

@{
    ViewData["Title"] = "Subscription Details";
}

@section css{
<style>
    .form-paragraph {
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>
}

<div class="form-group">
    <label asp-for="Id"></label>
    <p class="form-paragraph">@Model.Id</p>
</div>
<div class="form-group">
    <label asp-for="Email">Email:</label>
    <p class="form-paragraph">@Model.Email</p>
</div>
<div class="form-group">
    <label asp-for="IsConfirmed">Təsdiq statusu:</label>
    <p class="form-paragraph">@(Model.IsConfirmed ? "Bəli" : "Xeyr")</p>
</div>
@if (Model.ConfirmationDate != null)
{
    <div class="form-group">
        <label asp-for="ConfirmationDate">Təsdiq tarixi:</label>
        <p class="form-paragraph">@Model.ConfirmationDate?.ToString("dd.MM.yyyy HH:mm:ss")</p>
    </div>
}
<div class="form-group">
    <label asp-for="CreatedDate">Abunəlik tarixi:</label>
    <p class="form-paragraph">@Model.CreatedDate.ToString("dd.MM.yyyy HH:mm:ss")</p>
</div>
<a asp-action="Index" class="btn btn-danger">Geriyə</a>