@model ShowGenreViewModel

@{
    ViewData["Title"] = "Show Details";
}

@section css{
<style>
    .reply-btn {
        cursor: pointer;
    }

    #blog-description-comment-form .star-rating-div {
        margin-bottom: 1.5%;
    }

    .star-rating-answered-div > i {
        color: #f0932b;
    }

    #blog-description-comment-form .star-rating-div i {
        color: #f0932b;
        cursor: pointer;
    }

    .star-rating-error, #movie-details-spoiler + label {
        font-family: "Baloo";
    }

    .star-rating-div > i {
        user-select: none;
    }

    .written-comment-content-side {
        position: relative;
    }

    .comment-spoiler-overlay {
        position: absolute;
        border-radius: 4px;
        background-color: #badc58;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #movie-details-spoiler + label {
        user-select: none;
    }

    .comment-btn-side > a {
        display: inline-block;
        background-color: #e41a1a;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 7.5px 25px;
        font-family: "Baloo";
        transition: 0.3s;
    }

        .comment-btn-side > a:hover {
            background-color: #d93535;
        }

    .comment-btn-side > button {
        display: inline-block;
        background-color: #e41a1a;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 7.5px 25px;
        font-family: "Baloo";
        transition: 0.3s;
    }

        .comment-btn-side > button:hover {
            background-color: #d93535;
        }

    .blog-credentials-heading {
        font-family: "Roboto";
        font-size: 0.9rem;
    }

        .blog-credentials-heading > span {
            color: #e41a1a;
            font-weight: 600;
        }

    .movie-details-replies {
        margin: 0.75% 0;
        padding-left: 8.5%;
    }

    .written-comment-profile-side .img-div {
        width: 70% !important;
    }

        .written-comment-profile-side .img-div > img {
            height: 50px;
            object-fit: cover;
        }

    .written-comment-row {
        margin-bottom: 1.5%;
    }

    #blog-description-comment-form .written-comment-row {
        margin: 0.75% 0;
    }

    #blog-description-comment-form .written-comment-profile-side > .img-div {
        width: 70%;
    }

        #blog-description-comment-form .written-comment-profile-side > .img-div > img {
            width: 100%;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }

    #blog-description-comment-form .written-comment-content-side {
        position: relative;
        background-color: #343946;
        border-radius: 4px;
        padding: 1.5% 1%;
    }

        #blog-description-comment-form .written-comment-content-side::after {
            content: "";
            position: absolute;
            right: 100%;
            top: 10px;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-right: 5px solid #343946;
            border-bottom: 5px solid transparent;
        }

    #blog-description-comment-form .written-comment-content-heading,
    #blog-description-comment-form .written-comment-content-content {
        font-family: "Baloo";
    }

    #blog-description-comment-form .written-comment-content-heading {
        color: #777777;
    }

    .written-comment-content-content {
        color: white;
    }

    #blog-description-comment-form .written-comment-bottom-box {
        display: flex;
        justify-content: space-between;
        margin-top: 1%;
    }

        #blog-description-comment-form .written-comment-bottom-box .comment-date {
            color: #777777;
            font-size: 0.9rem;
        }
</style>
}

<!-- show fragment start -->
<section id="show-fragment">
    <div class="container show-fragment-container">
        <div class="row show-fragment-row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 show-fragment-col">
                <div class="show-image-div">
                    <a asp-action="Index" asp-controller="Show" class="go-back-btn">
                        <i class="fa-solid fa-left-long"></i> <span>BACK</span>
                    </a>
                    <img src="~/uploads/shows/@Model.Show.ImagePath" alt="Show Details Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- show fragment end -->
<!-- show description start -->
<section id="show-description">
    <div class="container show-description-container">
        <div class="row show-description-row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 films-swiper-col">
                <span class="badge films-swiper-badge text-dark">@(Model.Show.IsPremium == true ? "Premium" : "")</span>
                <h2>@Model.Show.Name</h2>
                <div class="specifications">
                    <p class="specification-item star-rating">9.4/10</p>
                    <p class="specification-item duration">@Model.Show.Duration</p>
                    <p class="specification-item quality">
                        Quality <span class="is-hd" style="@(string.IsNullOrWhiteSpace(Model.Show.Quality) ? "padding: 0;" : "")">@Model.Show.Quality</span>
                    </p>
                </div>
                <p class="release-date">Release Date: @Model.Show.CreatedDate.ToString("dd MMMM yyyy")</p>
                <p class="director">Director: <span>@Model.Show.Director.Name</span></p>
                <ul class="genres-ul">
                    <li class="genres-item-title">Genre:</li>
                    @foreach (var item in Model.Show.ShowGenreCastItems)
                    {
                        <li class="genres-item"><a href="#">@item.Genre.Name,</a></li>
                    }
                </ul>
                <ul class="casts-ul">
                    <li class="casts-item-title">Casts:</li>
                    @foreach (var item in Model.Show.ShowGenreCastItems)
                    {
                        <li class="casts-item"><a href="#">@item.Cast.Name,</a></li>
                    }
                </ul>
                <p class="film-description">
                    @Model.Show.Description
                </p>
                <ul class="film-types">
                    <li class="film-type">
                        <i class="bi bi-badge-hd-fill"></i>
                    </li>
                    <li class="film-type"><strong>Rated:</strong>8.5</li>
                    <li class="film-type">
                        <strong>Genre:</strong>Horror, Comedy, Action, Sci-fi.
                    </li>
                </ul>
                <div class="films-swiper-buttons-box">
                    <div class="watchlist-btn-box">
                        <a href="#" class="watchlist-btn">+ Add To Watchlist</a>
                    </div>
                    <div class="films-theatre-box">
                        <h3 class="theatre-heading">Choose seat for show.</h3>
                        <div class="films-theatre-side">
                            <div class="theatre">
                                <div class="cinema-seats left col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="cinema-row row-1">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-2">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-3">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-4">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-5">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-6">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-7">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>
                                </div>

                                <div class="cinema-seats right col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="cinema-row row-1">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-2">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-3">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-4">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-5">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-6">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>

                                    <div class="cinema-row row-7">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="add-to-basket-side">
                            <button class="add-to-basket-btn">
                                <i class="fa-solid fa-basket-shopping"></i> Add To Basket
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- show description end -->
<!-- show description comment start -->
<section id="show-description-comment">
    <div class="container show-description-comment-container">
        <div class="row show-description-comment-row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 show-description-comment-col">
                <h2 class="comment-heading">@Model.Show.CommentCount Comments</h2>
                <p class="comment-helper-text">Write comments</p>
                <form method="post" asp-action="ShowComment" id="blog-description-comment-form">
                    <div class="star-rating-div mb-0">
                        <i class="far fa-star" data-star-rating="1"></i>
                        <i class="far fa-star" data-star-rating="2"></i>
                        <i class="far fa-star" data-star-rating="3"></i>
                        <i class="far fa-star" data-star-rating="4"></i>
                        <i class="far fa-star" data-star-rating="5"></i>
                    </div>
                    <span class="star-rating-error text-danger d-none">Seçim edilməlidir!</span>
                    <input type="hidden" name="ParentId" id="parent-id-input" />
                    <input type="hidden" asp-for="@Model.Show.Id" name="ShowId" id="blog-id-input" />
                    <div class="form-group my-3">
                        <textarea cols="30" rows="4" class="blog-description-textarea form-control" name="Content"
                                  placeholder="Comment"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <input type="checkbox"
                               class="form-check-input"
                               id="movie-details-spoiler"
                               name="IsSpoiler" />
                        <label for="movie-details-spoiler">Comment contains spoilers?</label>
                    </div>
                    <div class="comment-btn-side">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button type="submit">Submit Comment</button>
                        }
                        else
                        {
                            <a asp-action="SignIn" asp-controller="Account" asp-route-returnUrl="@Context.Request.Path">Submit Comment</a>
                        }
                    </div>
                </form>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 written-comments-col">
                <div class="written-comment">
                    @foreach (ShowComment comment in Model.Show.ShowComments.Where(bc => bc.ParentId == null))
                    {
                        <div identifier="@comment.Id" class="row written-comment-row">
                            <div class="col-2 col-xl-1 col-lg-1 col-md-1 col-sm-2 written-comment-profile-side">
                                <div class="img-div">
                                    <img src="@(!string.IsNullOrWhiteSpace(comment.CreatedByUser.ImagePath) ? $"/uploads/personalside/{comment.CreatedByUser.ImagePath}" : "/uploads/personalside/no-profile-picture.jpg")" alt="Profile Photo" />
                                </div>
                            </div>
                            <div class="col-10 col-xl-11 col-lg-11 col-md-11 col-sm-10  written-comment-content-side">
                                @if (comment.IsSpoiler)
                                {
                                    <div class="comment-spoiler-overlay d-flex align-items-center justify-content-center">
                                        <h5 class="m-0">This comment contains spoilers about this show, would you like to see this anyway? <span class="btn btn-sm btn-danger show-spoiler-btn">Show</span></h5>
                                    </div>
                                }

                                <h5 class="written-comment-content-heading">@comment.CreatedByUser.Name @comment.CreatedByUser.Surname</h5>
                                <p class="written-comment-content-content">
                                    <div class="star-rating-answered-div">
                                        @for (var i = 1; i <= comment.StarRating; i++)
                                        {
                                            <i class="fas fa-star"></i>
                                        }
                                        @for (var i = 0; i < 5 - comment.StarRating; i++)
                                        {
                                            <i class="far fa-star"></i>
                                        }
                                    </div>
                                    <span style="color: #ffffff;">@comment.Content</span>
                                </p>
                                <div class="written-comment-bottom-box">
                                    <a onclick="setReply(event)" data-comment-id="@comment.Id" class="reply-btn">Reply</a>
                                    <p class="comment-date">@comment.CreatedDate.ToString("MMMM dd, yyyy")</p>
                                </div>
                            </div>
                            <div class="movie-details-replies">
                                @foreach (ShowComment child in comment.FillCommentChildren())
                                {
                                    <div identifier="@child.Id" class="row written-comment-row">
                                        <div class="col-2 col-xl-1 col-lg-1 col-md-1 col-sm-2 written-comment-profile-side">
                                            <div class="img-div">
                                                <img src="@(!string.IsNullOrWhiteSpace(child.CreatedByUser.ImagePath) ? $"/uploads/personalside/{child.CreatedByUser.ImagePath}" : "/uploads/personalside/no-profile-picture.jpg")"
                                             alt="Profile Photo" />
                                            </div>
                                        </div>
                                        <div class="col-10 col-xl-11 col-lg-11 col-md-11 col-sm-10 written-comment-content-side">
                                            @if (child.IsSpoiler)
                                            {
                                                <div class="comment-spoiler-overlay d-flex align-items-center justify-content-center">
                                                    <h5 class="m-0">This comment contains spoilers about this show, would you like to see this anyway? <span class="btn btn-sm btn-danger show-spoiler-btn">Show</span></h5>
                                                </div>
                                            }

                                            <h5 class="written-comment-content-heading">@child.CreatedByUser.Name @child.CreatedByUser.Surname</h5>
                                            <p class="written-comment-content-content">
                                                <div class="star-rating-answered-div">
                                                    @for (var i = 1; i <= child.StarRating; i++)
                                                    {
                                                        <i class="fas fa-star"></i>
                                                    }
                                                    @for (var i = 0; i < 5 - child.StarRating; i++)
                                                    {
                                                        <i class="far fa-star"></i>
                                                    }
                                                </div>
                                                <span style="color: #ffffff;">@child.Content</span>
                                            </p>
                                            <div class="written-comment-bottom-box">
                                                <a onclick="setReply(event)" data-comment-id="@child.Id" class="reply-btn">Reply</a>
                                                <p class="comment-date">@child.CreatedDate.ToString("MMMM dd, yyyy")</p>
                                            </div>
                                        </div>
                                        <div class="movie-details-replies">
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- show description comment end -->
<!-- show like these start -->
<section id="show-like-these">
    <div class="container show-like-these-container">
        <div class="row show-like-these-row">
            <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 latest-tv-show-left-heading-side">
                <h2>More Like This</h2>
            </div>
            <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 latest-tv-show-right-view-all-side">
                <a href="#">View All</a>
            </div>
            @foreach (var item in Model.RelatedShows)
            {
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-tv-show-bottom-col">
                    <div class="card">
                        <div class="img-div">
                            <img src="~/uploads/shows/@item.ImagePath" class="card-img-top"
                             alt="Latest Movies Img" />
                            <div class="latest-tv-show-img-box">
                                <div class="img-box-top">
                                    <span class="badge latest-tv-show-badge text-dark">@(item.IsPremium ? "Premium" : "")</span>
                                    <p>@item.GetAverageRating()/5</p>
                                </div>
                                <div class="img-box-bottom">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-body-about-side">
                                <a class="card-bottom-left" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                                <a class="card-bottom-right" href="#">@item.ShowGenreCastItems.FirstOrDefault()?.Genre.Name</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- show like these end -->
@section js{
<script src="~/assets/js/show-details.js"></script>
<script>
    $(function(){
     $('.genres-item>a').last().text($('.genres-item>a').last().text().substr(0, $('.genres-item>a').last().text().length - 1));

     $('.casts-item>a').last().text($('.casts-item>a').last().text().substr(0, $('.casts-item>a').last().text().length - 1));

      $('.show-spoiler-btn').click(function() {
        $(this).closest('.comment-spoiler-overlay').remove();
      });

      let starRating = 0;

      $('.star-rating-div>i').on('click', (e) => {
         starRating = $(e.currentTarget).data('star-rating');
      });

      let form = $('#blog-description-comment-form');
      $(form).on('submit', (e) => {
         e.preventDefault();

         let formData = new FormData(e.currentTarget);

         if(starRating > 0) {
           $('.star-rating-error').addClass('d-none');
           formData.append('StarRating', starRating);
         }
         else {
           $('.star-rating-error').removeClass('d-none');
           return;
         }

         if($(e.currentTarget).find('.blog-description-textarea').val() == ""){
             $(e.currentTarget).find('.blog-description-textarea').css('border-color', 'red');
             return;
         }

         $.ajax({
           url: '@Url.Action("ShowComment")',
           type: "POST",
           processData: false,
           contentType: false,
           data: formData,
           dataType: 'html',
           success: function(response, status, xhr){
               $(e.currentTarget).find('.blog-description-textarea').css('border-color', '#eeeeee');
               let parentId = xhr.getResponseHeader('ShowCommentParentId');
               if(parentId != null) {
                 $(`[identifier="${parentId}"]>.movie-details-replies`).append(response);
               }
               else {
                 $('.written-comment').append(response);

                 $.ajax({
                   url: `@Url.Action("ShowCommentCount")/?showId=@Model.Show.Id`,
                   type: "GET",
                   success: function(response){
                     let count = response;
                     $('.comment-heading').text(`${count} Comments`);
                   }
                 });
               }
               e.currentTarget.reset();
               $('.star-rating-div>i').removeClass('fas').addClass('far');
               $('#blog-description-comment-form .written-comment-row').remove();
               $('#blog-description-comment-form input[name="ParentId"]').val('');
           },
           error: function(response){
               console.log(response);
           }
         });
      });
    });

    function setReply(ev){
        ev.preventDefault();
        ev.stopPropagation();

        const parentId = $(ev.currentTarget).data('comment-id');

        $('#blog-description-comment-form input[name="ParentId"]').val(parentId);
        $('#blog-description-comment-form .written-comment-row').remove();
        const comment = $(ev.currentTarget).closest('.written-comment-row').clone(true);
        $(comment).find('.movie-details-replies').html('');
        $(comment).find('.reply-btn').remove();
        let trashBtn = $("<span class='trash-btn' style='color: red;cursor: pointer;'><i class='far fa-trash-alt'></i></span>");
        $(trashBtn).click(() => {
          $(comment).remove();
          $('#blog-description-comment-form input[name="ParentId"]').val('');
        });
        $(comment).find('.written-comment-bottom-box').prepend(trashBtn);
        $(comment).insertBefore($('#blog-description-comment-form').children()[0]);
    }
</script>
}