@model ShowGenreViewModel

@{
    ViewData["Title"] = "Shows";
}

@section css{
<link rel="stylesheet" href="~/libs/AlertifyJS/css/alertify.min.css" />
<style>
    .add-to-wishlist-btn {
        cursor: pointer;
    }
</style>
}

<!-- movies cards animation start -->
<section id="shows-cards-animation">
    <div class="container shows-cards-animation-container">
        <div class="row shows-cards-animation-row">
            <h2 class="shows-cards-main-heading">Shows</h2>
            <h6 class="shows-cards-other-heading">Genre:</h6>
            <ul class="shows-cards-list">
                @foreach (Genre item in Model.Genres)
                {
                    <li class="shows-cards-item">
                        <a class="badge shows-cards-badge" href="#">@item.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>
<!-- movies cards animation end -->
<!-- latest tv show start -->
<section id="latest-tv-show-start">
    <div class="container latest-tv-show-start-container">
        <div class="row latest-tv-show-start-row">
            <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 latest-tv-show-left-heading-side">
                <h2>Latest Shows</h2>
            </div>
            <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 latest-tv-show-right-view-all-side">
                <a href="#">View All</a>
            </div>
            @foreach (var item in Model.Shows)
            {
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-tv-show-bottom-col">
                    <div class="card">
                        <div class="img-div">
                            <img src="~/uploads/shows/@item.ImagePath" class="card-img-top"
                             alt="Latest Movies Img" />
                            <div class="latest-tv-show-img-box">
                                <div class="img-box-top">
                                    <span class="badge latest-tv-show-badge text-dark">@(item.IsPremium ? "Premium" : "")</span>
                                    <p>@item.GetAverageRating()/5</p>
                                </div>
                                <div class="img-box-bottom">
                                    <ul>
                                        <li>
                                            <a class="add-to-wishlist-btn" data-id="@item.Id"><i class="fa-solid fa-heart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-body-about-side">
                                <a class="card-bottom-left" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                                <a class="card-bottom-right" href="#">@item.ShowGenreCastItems.FirstOrDefault()?.Genre.Name</a>
                            </div>
                            <h5 class="shows-start-price">Starting from <span>$ @item.Price</span></h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- latest tv show end -->
@section js{
<script src="~/assets/js/shows.js"></script>
<script src="~/libs/AlertifyJS/alertify.min.js"></script>
<script>
    $(function(){
        $('.add-to-wishlist-btn').on('click', (e) => {
           let showId = $(e.currentTarget).data('id');

           let wishlist = $.cookie('wishlist-show');

           if (wishlist == null || wishlist == '') {
             wishlist = [];
           }
           else {
             wishlist = wishlist.split(',').map(v => parseInt(v));
           }

           if (wishlist.indexOf(showId) != -1) {
             alertify.warning("Bu məhsul artıq səbətdə var!", "Diqqət!");
           }
           else {
             wishlist.push(showId);
             alertify.success("Məhsul uğurla səbətə əlavə olundu!", "Uğurlu!");

             $.cookie('wishlist-show', wishlist.toString(), { expires: 365, path: '/' });

             let wishlistMovie = $.cookie('wishlist-movie');
             if (wishlistMovie == null || wishlistMovie == '') {
               wishlistMovie = [];
             }
             else {
               wishlistMovie = wishlistMovie.split(',').map(v => parseInt(v));
             }

             let totalWishlistCount = wishlist.length + wishlistMovie.length;

             if (totalWishlistCount <= 9) {
               $('.wishlist').text(totalWishlistCount);
             }
             else {
               $('.wishlist').text('9+');
             }
           }
        });
    });
</script>
}


